/* colors:
gradient fialova: #615dad;
gradient ruuzova: #ffc8da;
barva textu: #ffffff;
podklad tmave modry: #283e50;
tlacitko Pravidla: #1fcca4;
tlacitko Pravidla po najeti: #1cbb96;
tlacitko hrat:#0197f6;
tlacitko hrat po najeti: #0090e9; */

html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  min-height: 100vh;

  font-family: 'Open Sans', sans-serif;
  /* border-radius: 10px; */
  background-image: linear-gradient(#615dad, #ffc8da);
}

main {
  width: 360px;
  background-color: #283e50;
  margin: 30px auto;
  text-align: center;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

h1 {
  font-family: 'Lobster';
  color: #ffffff;
  padding: 30px;
  margin: 0;
}

img {
  max-width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.description {
  margin: 30px 10px;
  line-height: 1.5;
  font-size: 16px;
}

.button-rules {
  background-color: #1fcca4;
  display: block;
  text-decoration: none;
  padding: 10px 0 10px 0;
  color: white;
}

.button-rules:hover {
  background-color: #1cbb96;
}

.button-play {
  background-color: #0197f6;
  display: block;
  text-decoration: none;
  padding: 10px 0 10px 0;
  color: white;
  border-top: solid 1px #283e50;
}

.button-play:hover {
  background-color: #0090e9;
}

ol {
  margin: 30px 45px;
  padding: 0 25px 0 25px;
}

li {
  padding: 0 0 15px 0;
  text-align: left;
}

span {
  position: relative;
  left: 15px;
}

figure {
  padding: 20px;
  margin: 0;
}

.pictures img {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.pictures figcaption {
  padding: 10px 0 0 0;
  font-style: italic;
}
